language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
 before_script:
  - "npm i -g gatsby"
  - "npm i"
 
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: public
  keep-history: true
  target_branch: master
  on:
    branch: develop
