# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Deploy Gatsby Page

on:
  push:
    branches: [ develop ]

jobs:
  deploy:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - run: npm install
    - run: npm install -g gatsby-cli 
      env:
        GH_READ_INFO_TOKEN: ${{ secrets.GH_READ_INFO_TOKEN }}
    - run: npm run format
    - run: npm run build
    - run: npm run publish


